<ion-view title="א - Aleph" id="page5">
      
  <ion-content padding="true" class="has-header">

    <form id="alephListaNomi-form1" class="list">
      <label class="item item-input" id="alephListaNomi-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>

    <ion-item align="right" id="alephListaNomi-list-item2" ui-sref="tutorial({&quot;videokey&quot;:&quot;&quot;+tutorial.key+&quot;&quot;})" ng-repeat="tutorial in narrowed_tutorials"><h2>{{tutorial.termine}}</h2></ion-item>


  </ion-content>
</ion-view>