<ion-view title="ב – Beth" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="bethListaNomi-form1" class="list">
      <label class="item item-input" id="bethListaNomi-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>

    <ion-item align="right" id="bethListaNomi-list-item2" ui-sref="btutorial({&quot;videokey&quot;:&quot;&quot;+btutorial.key+&quot;&quot;})" ng-repeat="btutorial in narrowed_btutorials">
      <h2>{{btutorial.termine}}</h2>
    </ion-item>
 
   
       
  </ion-content>
</ion-view>