<ion-view title="Dizionario" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.ghimelListaNomi()">ג</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.bethListaNomi()">ב</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.alephListaNomi()">א</a></div>
          <!--<ion-item align="center" id="dizionario-list-item1" ui-sref="tabsController.alephListaNomi()">’ - א</ion-item>-->
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.wListaNomi()">ו</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.heListaNomi()">ה</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.dalethListaNomi()">ד</a></div>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.tethListaNomi()">ט</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.hethListaNomi()">ח</a></div>
        </ion-list>
      </div>
      <div class="col">
          <ion-list id="dizionario-list1">
            <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.zListaNomi()">ז</a></div>
          </ion-list>
        </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.lListaNomi()">ל</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.kListaNomi()">כ</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.yListaNomi()">י</a></div>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.sListaNomi()">ס</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.nListaNomi()">נ</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.mListaNomi()">מ</a></div>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.xListaNomi()">צ</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.pListaNomi()">פ</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.ainListaNomi()">ע</a></div>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.sinListaNomi()">שׂ</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.rListaNomi()">ר</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.qListaNomi()">ק</a></div>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.tListaNomi()">ת</a></div>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <div align="center" class="col"><a class="button button-clear button-dark" id="dizionario-list-item1" ui-sref="tabsController.shinListaNomi()">שׁ</a></div>
        </ion-list>
      </div>
      
      <!-- Vecchio stile di pagina
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.fListaNomi()">X - x</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.iListaNomi()">Y - y</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.g1ListaNomi()">Z - z</ion-item>
        </ion-list>
      </div>-->
    </div>

  </ion-content>
</ion-view>