<ion-view title="Dizionario" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.alephListaNomi()">א - ’</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.bethListaNomi()">ב - b</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.ghimelListaNomi()">ג - g</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.dalethListaNomi()">ד - d</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.heListaNomi()">ה - h</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.wListaNomi()">ו - w</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.zListaNomi()">ז - z</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.hethListaNomi()">ח - ḥ</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.tethListaNomi()">ט - ṭ</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.yListaNomi()">י - y</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.kListaNomi()">כ - k</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.lListaNomi()">ל - l</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.mListaNomi()">מ - m</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.nListaNomi()">נ - n</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.sListaNomi()">ס - s</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.ainListaNomi()">ע - ‘</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.pListaNomi()">פ - p</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.xListaNomi()">צ - ṣ</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.qListaNomi()">ק - q</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.rListaNomi()">ר - r</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.sinListaNomi()">שׂ - ś</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.shinListaNomi()">שׁ - š</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.tListaNomi()">ת - t</ion-item>
        </ion-list>
      </div>
      <!--
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.fListaNomi()">X - x</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.iListaNomi()">Y - y</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.g1ListaNomi()">Z - z</ion-item>
        </ion-list>
      </div>-->
    </div>

  </ion-content>
</ion-view>