<ion-view title="Dizionario" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.ghimelListaNomi()">g - ג</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.bethListaNomi()">b - ב</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.alephListaNomi()">’ - א</ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.wListaNomi()">w - ו</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.heListaNomi()">h - ה</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.dalethListaNomi()">d - ד</ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.tethListaNomi()">ṭ - ט</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.hethListaNomi()">ḥ - ח</ion-item>
        </ion-list>
      </div>
      <div class="col">
          <ion-list id="dizionario-list1">
            <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.zListaNomi()">z - ז</ion-item>
          </ion-list>
        </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.lListaNomi()">l - ל</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.kListaNomi()">k - כ</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.yListaNomi()">y - י</ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.sListaNomi()">s - ס</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.nListaNomi()">n - נ</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.mListaNomi()">m - מ</ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.xListaNomi()">ṣ - צ</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.pListaNomi()">p - פ</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.ainListaNomi()">‘ - ע</ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.sinListaNomi()">ś - שׂ</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.rListaNomi()">r - ר</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.qListaNomi()">q - ק</ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.tListaNomi()">t - ת</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item align="right" id="dizionario-list-item1" ui-sref="tabsController.shinListaNomi()">š - שׁ</ion-item>
        </ion-list>
      </div>
      
      <!--
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.fListaNomi()">X - x</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.iListaNomi()">Y - y</ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list id="dizionario-list1">
          <ion-item id="dizionario-list-item1" ui-sref="tabsController.g1ListaNomi()">Z - z</ion-item>
        </ion-list>
      </div>-->
    </div>

  </ion-content>
</ion-view>