<ion-view title="ג - Ghimel" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="ghimelListaNomi-form1" class="list">
      <label class="item item-input" id="ghimelListaNomi-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>

    <ion-item id="ghimelListaNomi-list-item2" ui-sref="gtutorial({&quot;videokey&quot;:&quot;&quot;+gtutorial.key+&quot;&quot;})" ng-repeat="gtutorial in narrowed_gtutorials">{{gtutorial.termine}} - {{gtutorial.traslitterazione}}</ion-item>
 
   
       
  </ion-content>
</ion-view>