<ion-view title="כ - Kaph" id="page27">
  <ion-content padding="true" class="has-header">
    <form id="kListaNomi-form1" class="list">
      <label class="item item-input" id="kListaNomi-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>

    <ion-item id="kListaNomi-list-item2" ui-sref="ktutorial({&quot;videokey&quot;:&quot;&quot;+ktutorial.key+&quot;&quot;})" ng-repeat="ktutorial in narrowed_ktutorials">{{ktutorial.termine}} - {{ktutorial.traslitterazione}}</ion-item>
 
   
       
  </ion-content>
</ion-view>