<ion-view title="ק - Qof" id="page231">
  <ion-content padding="true" class="has-header">
    <form id="qListaNomi-form1" class="list">
      <label class="item item-input" id="qListaNomi-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>

    <ion-item id="qListaNomi-list-item2" ui-sref="qtutorial({&quot;videokey&quot;:&quot;&quot;+qtutorial.key+&quot;&quot;})" ng-repeat="qtutorial in narrowed_qtutorials">{{qtutorial.termine}} - {{qtutorial.traslitterazione}}</ion-item>
 
   
       
  </ion-content>
</ion-view>