<ion-view title="{{video.termine}}" id="page232">
  
        <ion-content padding="true" class="has-header">
           
               <h2 id="qtutorial-heading1" style="color:#000000;">{{video.termine}}</h2>
            
          <h3 id="qtutorial-heading2" style="color:#000000;font-weight:300;font-style:italic;">{{video.traslitterazione}}</h3>
          <h2 id="qtutorial-heading3" style="color:#000000;font-weight:400;">{{video.significato}}</h2>
          <h3 id="qtutorial-heading4" style="color:#000000;font-weight:400;">{{video.grammatica}}</h3>
          <h4 id="qtutorial-heading5" style="color:#000000;font-weight:400;">{{video.altro}}</h4>
        </ion-content>
      </ion-view>