<ion-view title="שׂ - Sin" id="page51">
  <ion-content padding="true" class="has-header">
    <form id="sinListaNomi-form1" class="list">
      <label class="item item-input" id="sinListaNomi-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>

    <ion-item id="sinListaNomi-list-item2" ui-sref="sintutorial({&quot;videokey&quot;:&quot;&quot;+sintutorial.key+&quot;&quot;})" ng-repeat="sintutorial in narrowed_sintutorials">{{sintutorial.termine}} - {{sintutorial.traslitterazione}}</ion-item>
 
   
       
  </ion-content>
</ion-view>