<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Dizionario" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sintassi" icon-on="ion-document-text" icon-off="ion-document" href="#/page1/page3" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Lectio" icon="ion-headphone" href="#/page1/page4" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>