<ion-view title="ת -Tau" id="page55">
  <ion-content padding="true" class="has-header">
    <form id="TListaNomi-form1" class="list">
      <label class="item item-input" id="tListaNomi-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>

    <ion-item id="tListaNomi-list-item2" ui-sref="ttutorial({&quot;videokey&quot;:&quot;&quot;+ttutorial.key+&quot;&quot;})" ng-repeat="ttutorial in narrowed_ttutorials">{{ttutorial.termine}} - {{ttutorial.traslitterazione}}</ion-item>
 
   
       
  </ion-content>
</ion-view>