<ion-view title="י - Yod" id="page25">
  <ion-content padding="true" class="has-header">
    <form id="yListaNomi-form1" class="list">
      <label class="item item-input" id="yListaNomi-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>

    <ion-item id="yListaNomi-list-item2" ui-sref="ytutorial({&quot;videokey&quot;:&quot;&quot;+ytutorial.key+&quot;&quot;})" ng-repeat="ytutorial in narrowed_ytutorials">{{ytutorial.termine}} - {{ytutorial.traslitterazione}}</ion-item>
 
   
       
  </ion-content>
</ion-view>